*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    resize: none;
}
html,body
{
    min-height: 100vh;
    background: linear-gradient(#94d1a8,#94d1c0);
    overflow-x: hidden;
    resize: none;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
 .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.Welcome
{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text
{
    position: absolute;
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0,0, 3);
}
.Welcome img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}
.sec 
{
    position: relative;
    background: linear-gradient(#002b0d,gray);
    padding: 100px;
}
